<!doctype html>
<html>
  <head>
    <title>Movies App</title>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="suggestFriend" align="center">
	<h4>Suggest movies to friends</h4>
	<input type="text" name="friendSearch" id="friendSearch">
	<div id="friendsDP"></div>
      </div>
      <div id="movieSuggestionList">
	<div class="suggestion">
	  <div class="removeMovie floatButton">X</div>
	  <input type="checkbox" name="" id="movie1" value="wassup"> <label for="movie1">Movie Suggestion #1</label>
	  <span class="imdblink">[<a href="#">View Movie in IMDb</a>]</span>
	</div>
      </div>
    </div>
  </body>
</html>
